body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.shri {
  font-family: 'Shrikhand', cursive;
}

.monoton {
  font-family: 'Monoton', cursive;
}
